<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IRepository" type="Repositories.cs.Interfaces.IRepository`1, Repositories.cs" />
  <alias alias="BaseExcelRepository" type="Repositories.cs.Repositories.BaseExcelRepository`1, Repositories.cs" />
  <alias alias="DataEnvironment" type="ModelsLibrary.Shared.DataEnvironment, ModelsLibrary" />
  <alias alias="Resource" type="ModelsLibrary.Shared.Resource, ModelsLibrary" />

  <container>
    <register type="IRepository[]" mapTo="BaseExcelRepository[]" />
    <register type="IRepository[DataEnvironment]" mapTo="BaseExcelRepository[DataEnvironment]" />
    <register type="IRepository[Resource]" mapTo="BaseExcelRepository[Resource]" />
  </container>
</unity>