<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>

	<appSettings>
		<add key="WebWaitForReadyLevel" value="3" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="Enviroment" value="https://apps.intelligize.com/FirmMemos" />
		<add key="Password" value="vdf" />
		<add key="User" value="manuel@vdf.com" />
		<add key="Browser" value="Firefox" />
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<alias alias="IRepository" type="Repositories.cs.Interfaces.IRepository`1, Repositories.cs" />
		<alias alias="BaseExcelRepository" type="Repositories.cs.Repositories.BaseExcelRepository`1, Repositories.cs" />
		<alias alias="GlobalSettings" type="ModelsLibrary.Shared.GlobalSettings, ModelsLibrary" />
		<alias alias="Resource" type="ModelsLibrary.Shared.Resource, ModelsLibrary" />
		<container>
			<!--<register type="IRepository[]" mapTo="BaseExcelRepository[]" />-->
			<register type="IRepository[GlobalSettings]" mapTo="BaseExcelRepository[GlobalSettings]" />
			<register type="IRepository[Resource]" mapTo="BaseExcelRepository[Resource]" />
		</container>
	</unity>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>